spring:
  jackson:
    serialization:
      FAIL_ON_EMPTY_BEANS: false
  profiles:
    active: dev  # 기본적으로는 application-dev.yml 이 로딩된다는 의미
    include: secret # active 되는 설정파일 (application-dev.yml) 다음에 application-secret.yml 이 로딩된다는 의미
  mail:
    host: smtp.gmail.com
    port: 587
    username: gusrudchl12@gmail.com
    password: NEED_TO_INPUT_ON_SECRET
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
myapp:
  image-path: file:///docker_projects/sbb/wines/src/main/resources/static/images/
#  classpath:/static/images/
#    /docker_projects/sbb/wines/src/main/resources/static/images/
#  file:///Users/dev/Desktop/java/wines/src/main/resources/static/images/