<html layout:decorate="~{layout}" class="relative top-40">
<div layout:fragment="content" class="container w-100 my-3 mx-auto">
    <div class="flex">
        <img class=" h-auto max-w-lg rounded-lg" src="../images/꼬뜨 드 뵈프.png" alt="image description">
        <div class="inline-block ml-12">
            <span class="text-white bg-gradient-to-r from-red-400 via-red-400 to-red-600 font-medium rounded-lg text-sm px-5 py-1.5 text-center">레드</span>
            <span class="ml-2">프랑스</span>
            <span class="ml-4">마르셀란</span>
            <h1 class="text-5xl mt-8 font-extrabold dark:text-dark">GCF, 꼬뜨 드 뵈프</h1>
            <h3 class="text-3xl font-weight my-1 tracking-tight dark:text-gray-500">GCF, Cotes de Boeuf</h3>
            <br>
            <h3 class="text-3xl font-weight tracking-tight dark:text-gray-500">44,000원</h3>
            <h5 class="text-1xl font-weight my-2 tracking-tight dark:text-gray-400">※ 수입사가 제공한 가격으로 판매처별로 가격이 다를 수
                있습니다.</h5>
            <div class="flex mt-20">
                <span class="flex items-center">당도</span>
                <div th:replace="~{taste :: tasteFragment}"></div>
                <span class="flex items-center">산도</span>
                <div th:replace="~{taste :: tasteFragment}"></div>
                <span class="flex items-center">바디</span>
                <div th:replace="~{taste :: tasteFragment}"></div>
                <span class="flex items-center">타닌</span>
                <div th:replace="~{taste :: tasteFragment}"></div>
            </div>
            <div class="mt-20">
                <table>
                    <tbody class="text-xl">
                        <tr>
                            <th class="text-start font-black">국가</th>
                            <td class="dark:text-gray-500">&nbsp프랑스</td>
                        </tr>
                        <tr>
                            <th class="text-start font-black">주요품종</th>
                            <td class="dark:text-gray-500">&nbsp프노테낙 블랑, 뮈스까</td>
                        </tr>
                        <tr>
                            <th class="text-start font-black">추천 음식</th>
                            <td class="dark:text-gray-500">&nbsp안심 찹 스테이크</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</html>