<html layout:decorate="~{layout}" class="relative top-40">
<div layout:fragment="content" class="container w-100 my-3 mx-auto">
    <div class="mb-4 border-b border-gray-200 dark:border-gray-700 flex justify-center">
        <ul class="flex flex-wrap -mb-px text-base font-medium text-center">
            <li class="me-2">
                <a class="inline-block p-4 border-b-2 rounded-t-lg"
                   th:href="@{/member/confirm}">내정보
                </a>
            </li>
            <li class="mx-7">
                <a class="inline-block p-4 border-b-2 rounded-t-lg hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300"
                   th:href="@{/member/answer}">나의 리뷰
                </a>
            </li>
            <li class="me-2">
                <a class="inline-block p-4 border-b-2 rounded-t-lg hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300"
                   th:href="@{/member/favorites}">찜 목록
                </a>
            </li>
        </ul>
    </div>
    <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
        <div class="m-44 text-center">
            <form th:action="@{/member/confirm}" th:object="${memberConfirmForm}" method="post">
                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                <div th:replace="~{form_errors :: formErrorsFragment}"></div>
                <label for="id" class="block mb-2 text-2xl font-medium text-gray-900 dark:text-white">계속하려면 먼저
                    본인임을 인증하세요.</label>
                <input type="text" id="id" style="width:450px; height:60px;" th:field="*{username}"
                       class="mt-4 bg-gray-50 border border-gray-300 text-gray-900 text-m rounded-lg focus:ring-blue-500 focus:border-blue-500 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                       placeholder="아이디를 입력하세요" required>
                <button type="submit"
                        class="mt-4 ml-4 text-white bg-gray-800 hover:bg-gray-900 focus:outline-none focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-l px-5 py-2.5 me-2 mb-2 dark:bg-gray-800 dark:hover:bg-gray-700 dark:focus:ring-gray-700 dark:border-gray-700">
                    다음
                </button>
                <div class="text-sm text-center mt-2 font-medium text-gray-500 dark:text-gray-300">
                    아이디가 기억안나시나요? <a th:href="@{/member/search}" class="text-blue-700 hover:underline dark:text-blue-500">
                    아이디 찾기</a>
                </div>
            </form>
        </div>
    </div>
</div>
</html>





