<html layout:decorate="~{layout}" class="relative top-40">
<div layout:fragment="content" class="container w-100 my-3 mx-auto">
    <div class="mb-4 border-b border-gray-200 dark:border-gray-700 flex justify-center">
        <ul class="flex flex-wrap -mb-px text-base font-medium text-center">
            <li class="me-2">
                <a class="inline-block p-4 border-b-2 text-red-800 font-extrabold rounded-t-lg"
                   th:href="@{/member/confirm}">내정보
                </a>
            </li>
            <li class="mx-7">
                <a class="inline-block p-4 border-b-2 rounded-t-lg hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300"
                   th:href="@{/member/review}">나의 리뷰
                </a>
            </li>
            <li class="me-2">
                <a class="inline-block p-4 border-b-2 rounded-t-lg hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300"
                   th:href="@{/member/favorites}">찜 목록
                </a>
            </li>
        </ul>
    </div>
    <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
        <div class="text-left">
            <h1 class="mb-4 text-4xl font-extrabold leading-none tracking-tight text-gray-900 md:text-5xl lg:text-6xl dark:text-white">탈퇴 안내</h1>
        </div>
        <div class="text-left border-t-2 mb-4 ml-4 mr-4">
            <br>
            <p class="text-left text-lg text-gray-500 md:text-xl dark:text-gray-400">사용하고 계신 아이디(<span th:text="${member.username}"></span>)는 탈퇴할 경우 재사용 및 복구가 불가능합니다.</p>
            <div class="flex">
                <p class="text-red-500 dark:text-red-400">
                    탈퇴한 아이디는 본인과 타인 모두 재사용 및 복구</p>
                <p class="text-gray-400 dark:text-gray-400">
                    가 불가하오니 신중하게 선택하시기 바랍니다.</p>
            </div>
            <br>
            <p class="text-left text-lg text-gray-500 md:text-xl dark:text-gray-400">
                탈퇴 후 회원정보 및 작성하였던 이용기록은 모두 삭제됩니다.</p>
            <p class="text-gray-400 dark:text-gray-400">
                회원정보 및 메일 등 개인형 서비스 이용기록은 모두 삭제되며, 삭제된 데이터는 복구되지 않습니다.
                삭제되는 내용을 확인하시고 신중히 생각해주세요.</p>
            <br>
            <p class="text-lg text-red-500 md:text-xl dark:text-red-500">탈퇴 후에는 아이디
                <span th:text="${member.username}"></span> 로 다시 가입할 수 있지만 데이터는 복구할 수 없습니다.
            </p>
            <p class="text-lg text-red-500 md:text-xl dark:text-red-500">
                게시판형 서비스에 남아 있는 게시글은 탈퇴 후 자동 삭제됩니다.
            </p>
        </div>
    </div>
    <div class="flex items-center justify-between mt-5">
        <div class="flex items-center">
            <input id="terms" type="checkbox"
                   class="w-4 h-4 border border-gray-300 rounded bg-gray-50 focus:ring-3 focus:ring-blue-300 dark:bg-gray-700 dark:border-gray-600 dark:focus:ring-blue-600 dark:ring-offset-gray-800 dark:focus:ring-offset-gray-800"
                   required>
            <label for="terms" class="ms-2 text-m font-medium text-gray-900">안내 사항을 모두 확인하였으며, 이에 동의합니다.</label>
        </div>
    </div>
    <div class="m-16 text-center">
        <form th:object="${logInForm}" method="post">
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
            <div>
                <label for="username" class="hidden block mb-2 text-2xl font-medium text-gray-900 dark:text-white">탈퇴를 위해 본인 인증을 해주세요</label>
                <input type="text" id="username" name="username" style="width:450px; height:60px;" th:field="*{username}"
                       class="mt-4 bg-gray-50 border border-gray-300 text-gray-900 text-m rounded-lg focus:ring-blue-500 focus:border-blue-500 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                       placeholder="아이디를 입력하세요" required>
                <label for="password" class="hidden block mb-2 text-2xl font-medium text-gray-900 dark:text-white">탈퇴를 위해 본인 인증을 해주세요</label>
                <input type="password" id="password" name="password" style="width:450px; height:60px;" th:field="*{password}"
                       class="mt-4 bg-gray-50 border border-gray-300 text-gray-900 text-m rounded-lg focus:ring-blue-500 focus:border-blue-500 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                       placeholder="비밀번호를 입력하세요" required>
                <button type="button" onclick="checkUserPw()" id="confirmBtn"
                        class="mt-4 ml-4 text-white bg-gray-800 hover:bg-gray-900 focus:outline-none focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-l px-5 py-2.5 me-2 mb-2 dark:bg-gray-800 dark:hover:bg-gray-700 dark:focus:ring-gray-700 dark:border-gray-700">
                    인증하기
                </button>
            </div>
            <div class="text-center">
                <div class="text-sm mt-2 font-medium text-gray-500 dark:text-gray-300 mt-5">
                    ID가 기억안나시나요? <a th:href="@{/member/search}" class="text-blue-700 hover:underline dark:text-blue-500">
                    ID 찾기</a>
                </div>
                <div class="text-sm mt-2 font-medium text-gray-500 dark:text-gray-300 mt-5">
                    비밀번호가 기억안나시나요? <a th:href="@{/member/passwordSearch}" class="text-blue-700 hover:underline dark:text-blue-500">
                    비밀번호 찾기</a>
                </div>
            </div>
        </form>
        <div class="mt-16 text-center">
            <button type="submit" onclick="quitUser()" id="quitBtn" name="quitBtn" data-tooltip-target="tooltip-default" class="relative inline-flex items-center justify-center p-0.5 mb-2 me-2 overflow-hidden text-sm font-medium text-gray-900 rounded-lg group bg-gradient-to-br from-pink-500 to-orange-400 group-hover:from-pink-500 group-hover:to-orange-400 hover:text-white dark:text-white focus:ring-4 focus:outline-none focus:ring-pink-200 dark:focus:ring-pink-800">
                    <span class="relative px-5 py-2.5 transition-all ease-in duration-75 bg-white dark:bg-gray-900 rounded-md group-hover:bg-opacity-0">
                    탈퇴하기
                    </span>
            </button>
            <div id="tooltip-default" role="tooltip" class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white transition-opacity duration-300 bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700">
                본인 인증을 먼저 진행해주세요
                <div class="tooltip-arrow" data-popper-arrow></div>
            </div>
        </div>
    </div>
</div>
</html>

<script type="text/javascript">
    function validateCheckbox() {
    var checkBox = document.getElementById("terms");

    if (checkBox.checked) {
        return true;
    } else {
        return false;
        }
    }

    var confirmBtn = document.getElementById("confirmBtn");
    var quitBtn = document.getElementById("quitBtn");

    confirmBtn.disabled = true; // 페이지 로드 시 confirmBtn은 비활성화되어 있음
    quitBtn.disabled = true; // 페이지 로드 시 quitBtn은 비활성화되어 있음

    document.getElementById("terms").addEventListener("change", function() {
    if (validateCheckbox()) {
        confirmBtn.disabled = false; // 체크박스가 선택되면 confirmBtn 활성화
        quitBtn.disabled = true; // 체크박스가 선택되면 quitBtn 비활성화
    } else {
        confirmBtn.disabled = true; // 체크박스가 선택되지 않으면 confirmBtn 비활성화
        quitBtn.disabled = true; // 체크박스가 선택되지 않으면 quitBtn 비활성화
    }
});

    function hideTooltip() {
    var tooltip = document.getElementById('tooltip-default');
    tooltip.style.display = 'none';
    }



    function checkUserPw() {
        var token = $("meta[name='_csrf']").attr("content");
        var header = $("meta[name='_csrf_header']").attr("content");

        var data = {
            "username": $("#username").val(),
            "password": $("#password").val()
        };

        $.ajax({
            type: 'POST',
            url: "/member/userCheck",
            beforeSend: function (xhr) {
                xhr.setRequestHeader(header, token);
            },
            data: data,
            success: function (response) {
                if (!response.error) {
                    alert("인증 성공!");
                    $("#quitBtn").prop('disabled', false);
                    $("#confirmBtn").prop('disabled', true);
                    hideTooltip();
                }
            },
            error: function (xhr, status, error) {
                alert("ID 또는 비밀번호가 일치하지 않습니다.");
                console.log('error:' + error);
            }
        });
    }
    function quitUser() {
        var token = $("meta[name='_csrf']").attr("content");
        var header = $("meta[name='_csrf_header']").attr("content");

        if (confirm('정말 회원 탈퇴를 진행하시겠습니까?')) {
        // 체크박스 상태 확인
        if (validateCheckbox()) {
            $.ajax({
                type: 'POST',
                url: '/member/quitUser',
                beforeSend: function (xhr) {
                    xhr.setRequestHeader(header, token);
                },
                success: function (response) {
                    if (response.error) {
                        alert('오류가 발생했습니다. 다시 시도해주세요.');
                    } else {
                        alert('회원 탈퇴가 완료되었습니다.');
                        window.location.href = '/member/logout';
                    }
                },
                error: function (xhr, status, error) {
                    console.log('error: ' + error);
                    alert('요청을 처리하는 도중 오류가 발생했습니다.');
                }
            });
        } else {
            alert('안내 사항을 확인하고 동의해주세요.');
        }
    }
}

</script>






