<html layout:decorate="~{layout}" class="relative top-40">
<div layout:fragment="content" class="container w-100 my-3 mx-auto">
    <div class="mt-16">
        <p class="text-center text-2xl">문의 작성</p>
        <hr class="border-gray-900 dark:border-gray-800 border-1 w-9/12 mx-auto"/>
    </div>
    <form class="max-w-3xl mx-auto my-8">
        <div>
            <label for="small-input" class="block mb-2 text-sm font-medium text-gray-900 dark:text-dark">제목</label>
            <input type="text" id="small-input" class="block w-full p-2 py-4 text-gray-900 border border-gray-300 rounded-lg bg-gray-50 sm:text-xs focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
        </div>
        <div class="my-5">
            <label for="large-input" class="block mb-2 text-sm font-medium text-gray-900 dark:text-dark">내용</label>
            <textarea type="text" id="large-input" low="15" class="block h-72 w-full text-gray-900 border border-gray-300 rounded-lg bg-gray-50 sm:text-md focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"></textarea>
        </div>
        <button type="button" class="text-white bg-gray-800 hover:bg-gray-900 focus:outline-none focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-sm px-5 my-4 py-2.5 me-2 mb-2 dark:bg-gray-800 dark:hover:bg-gray-700 dark:focus:ring-gray-700 dark:border-gray-700">문의 등록</button>
    </form>
</div>
</html>