<!-- drawer component -->
<div th:fragment="sidebarFragment" id="drawer-navigation"
     class="fixed top-0 left-0 z-40 h-screen p-4 overflow-y-auto w-96 h-full transition-transform -translate-x-full bg-white dark:bg-gray-800"
     tabindex="-1" aria-labelledby="drawer-navigation-label">
    <h5 id="drawer-navigation-label"
        class="text-base font-semibold text-gray-500 uppercase dark:text-gray-400 text-4xl">
        Wine's</h5>
    <button type="button" data-drawer-hide="drawer-navigation" aria-controls="drawer-navigation"
            class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 absolute top-2.5 end-2.5 inline-flex items-center dark:hover:bg-gray-600 dark:hover:text-white">
        <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20"
             xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd"
                  d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                  clip-rule="evenodd"></path>
        </svg>
        <span class="sr-only">Close menu</span>
    </button>
    <div class="py-4 overflow-y-auto">
        <ul class="font-medium">
            <li class="mb-5">  <!-- 종류 -->
                <button id="mega-menu-full-cta-image-button1" data-collapse-toggle="mega-menu-full-image-dropdown1"
                        class="flex items-center justify-between w-full py-2 px-3 font-medium text-gray-900 border-b border-gray-100
                        md:w-auto hover:bg-gray-50 md:hover:bg-transparent md:border-0 md:hover:text-red-800 md:p-0 dark:text-white md:dark:hover:text-red-800
                        dark:hover:bg-gray-700 dark:hover:text-red-900 md:dark:hover:bg-transparent dark:border-gray-700 text-xl">
                    종류
                    <svg class="w-2.5 h-2.5 ms-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                         viewBox="0 0 10 6">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                              d="m1 1 4 4 4-4"/>
                    </svg>
                </button>
                <!-- Dropdown menu -->
                <div id="mega-menu-full-image-dropdown1"
                     class="z-10 hidden bg-white rounded-lg shadow w-60 dark:bg-gray-700 w-80">
                    <ul class="h-48 px-3 pb-3 overflow-y-auto text-sm text-gray-700 dark:text-gray-200"
                        aria-labelledby="dropdownSearchButton">
                        <li>
                            <div class="flex items-center ps-2 rounded hover:bg-gray-100 dark:hover:bg-gray-600">
                                <input id="checkbox-item-1-1" type="checkbox" value=""
                                       class="w-4 h-4 text-red-700 bg-gray-100 border-gray-300 rounded focus:ring-red-800 dark:focus:ring-red-800 dark:ring-offset-gray-700 dark:focus:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500">
                                <label for="checkbox-item-1-1"
                                       class="w-full py-2 ms-2 text-base font-medium text-gray-900 rounded dark:text-gray-300">레드</label>
                            </div>
                        </li>
                        <li>
                            <div class="flex items-center ps-2 rounded hover:bg-gray-100 dark:hover:bg-gray-600">
                                <input checked id="checkbox-item-1-2" type="checkbox" value=""
                                       class="w-4 h-4 text-red-700 bg-gray-100 border-gray-300 rounded focus:ring-red-800 dark:focus:ring-red-800 dark:ring-offset-gray-700 dark:focus:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500">
                                <label for="checkbox-item-1-2"
                                       class="w-full py-2 ms-2 text-base font-medium text-gray-900 rounded dark:text-gray-300">화이트</label>
                            </div>
                        </li>
                        <li>
                            <div class="flex items-center ps-2 rounded hover:bg-gray-100 dark:hover:bg-gray-600">
                                <input id="checkbox-item-1-3" type="checkbox" value=""
                                       class="w-4 h-4 text-red-700 bg-gray-100 border-gray-300 rounded focus:ring-red-800 dark:focus:ring-red-800 dark:ring-offset-gray-700 dark:focus:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500">
                                <label for="checkbox-item-1-3"
                                       class="w-full py-2 ms-2 text-base font-medium text-gray-900 rounded dark:text-gray-300">로제</label>
                            </div>
                        </li>
                        <li>
                            <div class="flex items-center ps-2 rounded hover:bg-gray-100 dark:hover:bg-gray-600">
                                <input id="checkbox-item-1-4" type="checkbox" value=""
                                       class="w-4 h-4 text-red-700 bg-gray-100 border-gray-300 rounded focus:ring-red-800 dark:focus:ring-red-800 dark:ring-offset-gray-700 dark:focus:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500">
                                <label for="checkbox-item-1-4"
                                       class="w-full py-2 ms-2 text-base font-medium text-gray-900 rounded dark:text-gray-300">스파클링</label>
                            </div>
                        </li>
                        <li>
                            <div class="flex items-center ps-2 rounded hover:bg-gray-100 dark:hover:bg-gray-600">
                                <input id="checkbox-item-1-5" type="checkbox" value=""
                                       class="w-4 h-4 text-red-700 bg-gray-100 border-gray-300 rounded focus:ring-red-800 dark:focus:ring-red-800 dark:ring-offset-gray-700 dark:focus:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500">
                                <label for="checkbox-item-1-4"
                                       class="w-full py-2 ms-2 text-base font-medium text-gray-900 rounded dark:text-gray-300">주정강화</label>
                            </div>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="mb-5"> <!-- 국가  -->
                <button id="mega-menu-full-cta-image-button2" data-collapse-toggle="mega-menu-full-image-dropdown2"
                        class="flex items-center justify-between w-full py-2 px-3 font-medium text-gray-900 border-b border-gray-100
                        md:w-auto hover:bg-gray-50 md:hover:bg-transparent md:border-0 md:hover:text-red-800 md:p-0 dark:text-white md:dark:hover:text-blue-500
                        dark:hover:bg-gray-700 dark:hover:text-red-900 md:dark:hover:bg-transparent dark:border-gray-700 text-xl">
                    국가
                    <svg class="w-2.5 h-2.5 ms-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                         viewBox="0 0 10 6">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                              d="m1 1 4 4 4-4"/>
                    </svg>
                </button>
                <!-- Dropdown menu -->
                <div id="mega-menu-full-image-dropdown2"
                     class="z-10 hidden bg-white rounded-lg shadow w-60 dark:bg-gray-700 w-80">
                    <ul class="h-48 px-3 pb-3 overflow-y-auto text-sm text-gray-700 dark:text-gray-200"
                        aria-labelledby="dropdownSearchButton">
                        <li>
                            <div class="flex items-center ps-2 rounded hover:bg-gray-100 dark:hover:bg-gray-600">
                                <input id="checkbox-item-2-1" type="checkbox" value=""
                                       class="w-4 h-4 text-red-700 bg-gray-100 border-gray-300 rounded focus:ring-red-800 dark:focus:ring-red-800 dark:ring-offset-gray-700 dark:focus:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500">
                                <label for="checkbox-item-2-1"
                                       class="w-full py-2 ms-2 text-base font-medium text-gray-900 rounded dark:text-gray-300">프랑스</label>
                            </div>
                        </li>
                        <li>
                            <div class="flex items-center ps-2 rounded hover:bg-gray-100 dark:hover:bg-gray-600">
                                <input checked id="checkbox-item-2-2" type="checkbox" value=""
                                       class="w-4 h-4 text-red-700 bg-gray-100 border-gray-300 rounded focus:ring-red-800 dark:focus:ring-red-800 dark:ring-offset-gray-700 dark:focus:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500">
                                <label for="checkbox-item-2-2"
                                       class="w-full py-2 ms-2 text-base font-medium text-gray-900 rounded dark:text-gray-300">이탈리아</label>
                            </div>
                        </li>
                        <li>
                            <div class="flex items-center ps-2 rounded hover:bg-gray-100 dark:hover:bg-gray-600">
                                <input id="checkbox-item-2-3" type="checkbox" value=""
                                       class="w-4 h-4 text-red-700 bg-gray-100 border-gray-300 rounded focus:ring-red-800 dark:focus:ring-red-800 dark:ring-offset-gray-700 dark:focus:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500">
                                <label for="checkbox-item-2-3"
                                       class="w-full py-2 ms-2 text-base font-medium text-gray-900 rounded dark:text-gray-300">스페인</label>
                            </div>
                        </li>
                        <li>
                            <div class="flex items-center ps-2 rounded hover:bg-gray-100 dark:hover:bg-gray-600">
                                <input id="checkbox-item-2-4" type="checkbox" value=""
                                       class="w-4 h-4 text-red-700 bg-gray-100 border-gray-300 rounded focus:ring-red-800 dark:focus:ring-red-800 dark:ring-offset-gray-700 dark:focus:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500">
                                <label for="checkbox-item-2-4"
                                       class="w-full py-2 ms-2 text-base font-medium text-gray-900 rounded dark:text-gray-300">포르투갈</label>
                            </div>
                        </li>
                        <li>
                            <div class="flex items-center ps-2 rounded hover:bg-gray-100 dark:hover:bg-gray-600">
                                <input id="checkbox-item-2-5" type="checkbox" value=""
                                       class="w-4 h-4 text-red-700 bg-gray-100 border-gray-300 rounded focus:ring-red-800 dark:focus:ring-red-800 dark:ring-offset-gray-700 dark:focus:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500">
                                <label for="checkbox-item-2-4"
                                       class="w-full py-2 ms-2 text-base font-medium text-gray-900 rounded dark:text-gray-300">독일</label>
                            </div>
                        </li>
                        <li>
                            <div class="flex items-center ps-2 rounded hover:bg-gray-100 dark:hover:bg-gray-600">
                                <input id="checkbox-item-2-6" type="checkbox" value=""
                                       class="w-4 h-4 text-red-700 bg-gray-100 border-gray-300 rounded focus:ring-red-800 dark:focus:ring-red-800 dark:ring-offset-gray-700 dark:focus:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500">
                                <label for="checkbox-item-2-4"
                                       class="w-full py-2 ms-2 text-base font-medium text-gray-900 rounded dark:text-gray-300">미국</label>
                            </div>
                        </li>
                        <li>
                            <div class="flex items-center ps-2 rounded hover:bg-gray-100 dark:hover:bg-gray-600">
                                <input id="checkbox-item-2-7" type="checkbox" value=""
                                       class="w-4 h-4 text-red-700 bg-gray-100 border-gray-300 rounded focus:ring-red-800 dark:focus:ring-red-800 dark:ring-offset-gray-700 dark:focus:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500">
                                <label for="checkbox-item-2-4"
                                       class="w-full py-2 ms-2 text-base font-medium text-gray-900 rounded dark:text-gray-300">뉴질랜드</label>
                            </div>
                        </li>
                        <li>
                            <div class="flex items-center ps-2 rounded hover:bg-gray-100 dark:hover:bg-gray-600">
                                <input id="checkbox-item-2-8" type="checkbox" value=""
                                       class="w-4 h-4 text-red-700 bg-gray-100 border-gray-300 rounded focus:ring-red-800 dark:focus:ring-red-800 dark:ring-offset-gray-700 dark:focus:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500">
                                <label for="checkbox-item-2-4"
                                       class="w-full py-2 ms-2 text-base font-medium text-gray-900 rounded dark:text-gray-300">호주</label>
                            </div>
                        </li>
                        <li>
                            <div class="flex items-center ps-2 rounded hover:bg-gray-100 dark:hover:bg-gray-600">
                                <input id="checkbox-item-2-9" type="checkbox" value=""
                                       class="w-4 h-4 text-red-700 bg-gray-100 border-gray-300 rounded focus:ring-red-800 dark:focus:ring-red-800 dark:ring-offset-gray-700 dark:focus:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500">
                                <label for="checkbox-item-2-4"
                                       class="w-full py-2 ms-2 text-base font-medium text-gray-900 rounded dark:text-gray-300">칠레</label>
                            </div>
                        </li>
                        <li>
                            <div class="flex items-center ps-2 rounded hover:bg-gray-100 dark:hover:bg-gray-600">
                                <input id="checkbox-item-2-10" type="checkbox" value=""
                                       class="w-4 h-4 text-red-700 bg-gray-100 border-gray-300 rounded focus:ring-red-800 dark:focus:ring-red-800 dark:ring-offset-gray-700 dark:focus:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500">
                                <label for="checkbox-item-2-4"
                                       class="w-full py-2 ms-2 text-base font-medium text-gray-900 rounded dark:text-gray-300">아르헨티나</label>
                            </div>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="mb-5">  <!-- 가격 -->
                <button id="mega-menu-full-cta-image-button3" data-collapse-toggle="mega-menu-full-image-dropdown3"
                        class="flex items-center justify-between w-full py-2 px-3 font-medium text-gray-900 border-b border-gray-100
                        md:w-auto hover:bg-gray-50 md:hover:bg-transparent md:border-0 md:hover:text-red-800 md:p-0 dark:text-white md:dark:hover:text-blue-500
                        dark:hover:bg-gray-700 dark:hover:text-red-900 md:dark:hover:bg-transparent dark:border-gray-700 text-xl">
                    가격
                    <svg class="w-2.5 h-2.5 ms-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                         viewBox="0 0 10 6">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                              d="m1 1 4 4 4-4"/>
                    </svg>
                </button>
                <!-- Dropdown menu -->
                <div id="mega-menu-full-image-dropdown3"
                     class="z-10 hidden bg-white rounded-lg shadow w-60 dark:bg-gray-700 w-80">
                    <ul class="h-48 px-3 pb-3 overflow-y-auto text-sm text-gray-700 dark:text-gray-200"
                        aria-labelledby="dropdownSearchButton">
                        <li>
                            <div class="flex items-center ps-2 rounded hover:bg-gray-100 dark:hover:bg-gray-600">
                                <input id="checkbox-item-3-1" type="checkbox" value=""
                                       class="w-4 h-4 text-red-700 bg-gray-100 border-gray-300 rounded focus:ring-red-800 dark:focus:ring-red-800 dark:ring-offset-gray-700 dark:focus:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500">
                                <label for="checkbox-item-3-1"
                                       class="w-full py-2 ms-2 text-base font-medium text-gray-900 rounded dark:text-gray-300">0
                                    ~ 20,000원</label>
                            </div>
                        </li>
                        <li>
                            <div class="flex items-center ps-2 rounded hover:bg-gray-100 dark:hover:bg-gray-600">
                                <input checked id="checkbox-item-3-2" type="checkbox" value=""
                                       class="w-4 h-4 text-red-700 bg-gray-100 border-gray-300 rounded focus:ring-red-800 dark:focus:ring-red-800 dark:ring-offset-gray-700 dark:focus:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500">
                                <label for="checkbox-item-3-2"
                                       class="w-full py-2 ms-2 text-base font-medium text-gray-900 rounded dark:text-gray-300">2,000원
                                    ~ 30,000원</label>
                            </div>
                        </li>
                        <li>
                            <div class="flex items-center ps-2 rounded hover:bg-gray-100 dark:hover:bg-gray-600">
                                <input id="checkbox-item-3-3" type="checkbox" value=""
                                       class="w-4 h-4 text-red-700 bg-gray-100 border-gray-300 rounded focus:ring-red-800 dark:focus:ring-red-800 dark:ring-offset-gray-700 dark:focus:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500">
                                <label for="checkbox-item-3-3"
                                       class="w-full py-2 ms-2 text-base font-medium text-gray-900 rounded dark:text-gray-300">3,000원
                                    ~ 40,000원</label>
                            </div>
                        </li>
                        <li>
                            <div class="flex items-center ps-2 rounded hover:bg-gray-100 dark:hover:bg-gray-600">
                                <input id="checkbox-item-3-4" type="checkbox" value=""
                                       class="w-4 h-4 text-red-700 bg-gray-100 border-gray-300 rounded focus:ring-red-800 dark:focus:ring-red-800 dark:ring-offset-gray-700 dark:focus:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500">
                                <label for="checkbox-item-3-4"
                                       class="w-full py-2 ms-2 text-base font-medium text-gray-900 rounded dark:text-gray-300">4,000원
                                    ~ 50,000원</label>
                            </div>
                        </li>
                        <li>
                            <div class="flex items-center ps-2 rounded hover:bg-gray-100 dark:hover:bg-gray-600">
                                <input id="checkbox-item-3-5" type="checkbox" value=""
                                       class="w-4 h-4 text-red-700 bg-gray-100 border-gray-300 rounded focus:ring-red-800 dark:focus:ring-red-800 dark:ring-offset-gray-700 dark:focus:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500">
                                <label for="checkbox-item-3-5"
                                       class="w-full py-2 ms-2 text-base font-medium text-gray-900 rounded dark:text-gray-300">5,000원
                                    ~ 60,000원</label>
                            </div>
                        </li>
                        <li>
                            <div class="flex items-center ps-2 rounded hover:bg-gray-100 dark:hover:bg-gray-600">
                                <input id="checkbox-item-3-6" type="checkbox" value=""
                                       class="w-4 h-4 text-red-700 bg-gray-100 border-gray-300 rounded focus:ring-red-800 dark:focus:ring-red-800 dark:ring-offset-gray-700 dark:focus:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500">
                                <label for="checkbox-item-3-6"
                                       class="w-full py-2 ms-2 text-base font-medium text-gray-900 rounded dark:text-gray-300">6,000원
                                    ~ 70,000원</label>
                            </div>
                        </li>
                        <li>
                            <div class="flex items-center ps-2 rounded hover:bg-gray-100 dark:hover:bg-gray-600">
                                <input id="checkbox-item-3-7" type="checkbox" value=""
                                       class="w-4 h-4 text-red-700 bg-gray-100 border-gray-300 rounded focus:ring-red-800 dark:focus:ring-red-800 dark:ring-offset-gray-700 dark:focus:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500">
                                <label for="checkbox-item-3-7"
                                       class="w-full py-2 ms-2 text-base font-medium text-gray-900 rounded dark:text-gray-300">7,000원
                                    ~ 80,000원</label>
                            </div>
                        </li>
                        <li>
                            <div class="flex items-center ps-2 rounded hover:bg-gray-100 dark:hover:bg-gray-600">
                                <input id="checkbox-item-3-8" type="checkbox" value=""
                                       class="w-4 h-4 text-red-700 bg-gray-100 border-gray-300 rounded focus:ring-red-800 dark:focus:ring-red-800 dark:ring-offset-gray-700 dark:focus:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500">
                                <label for="checkbox-item-3-8"
                                       class="w-full py-2 ms-2 text-base font-medium text-gray-900 rounded dark:text-gray-300">8,000원
                                    ~ 90,000원</label>
                            </div>
                        </li>
                        <li>
                            <div class="flex items-center ps-2 rounded hover:bg-gray-100 dark:hover:bg-gray-600">
                                <input id="checkbox-item-3-9" type="checkbox" value=""
                                       class="w-4 h-4 text-red-700 bg-gray-100 border-gray-300 rounded focus:ring-red-800 dark:focus:ring-red-800 dark:ring-offset-gray-700 dark:focus:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500">
                                <label for="checkbox-item-3-9"
                                       class="w-full py-2 ms-2 text-base font-medium text-gray-900 rounded dark:text-gray-300">9,000원
                                    ~ 100,000원</label>
                            </div>
                        </li>
                        <li>
                            <div class="flex items-center ps-2 rounded hover:bg-gray-100 dark:hover:bg-gray-600">
                                <input id="checkbox-item-3-10" type="checkbox" value=""
                                       class="w-4 h-4 text-red-700 bg-gray-100 border-gray-300 rounded focus:ring-red-800 dark:focus:ring-red-800 dark:ring-offset-gray-700 dark:focus:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500">
                                <label for="checkbox-item-3-9"
                                       class="w-full py-2 ms-2 text-base font-medium text-gray-900 rounded dark:text-gray-300">가격
                                    정보 없음</label>
                            </div>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="mb-5">  <!-- 음식 -->
                <button id="mega-menu-full-cta-image-button4" data-collapse-toggle="mega-menu-full-image-dropdown4"
                        class="flex items-center justify-between w-full py-2 px-3 font-medium text-gray-900 border-b border-gray-100
                        md:w-auto hover:bg-gray-50 md:hover:bg-transparent md:border-0 md:hover:text-red-800 md:p-0 dark:text-white md:dark:hover:text-blue-500
                        dark:hover:bg-gray-700 dark:hover:text-red-900 md:dark:hover:bg-transparent dark:border-gray-700 text-xl">
                    어울리는 음식
                    <svg class="w-2.5 h-2.5 ms-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                         viewBox="0 0 10 6">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                              d="m1 1 4 4 4-4"/>
                    </svg>
                </button>
                <!-- Dropdown menu -->
                <div id="mega-menu-full-image-dropdown4"
                     class="z-10 hidden bg-white rounded-lg shadow w-60 dark:bg-gray-700 w-80">
                    <ul class="h-48 px-3 pb-3 overflow-y-auto text-base text-gray-700 dark:text-gray-200"
                        aria-labelledby="dropdownSearchButton">
                        <li>
                            <div class="flex items-center ps-2 rounded hover:bg-gray-100 dark:hover:bg-gray-600">
                                <input id="checkbox-item-4-1" type="checkbox" value=""
                                       class="w-4 h-4 text-red-700 bg-gray-100 border-gray-300 rounded focus:ring-red-800 dark:focus:ring-red-800 dark:ring-offset-gray-700 dark:focus:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500">
                                <label for="checkbox-item-4-1"
                                       class="w-full py-2 ms-2 text-base font-medium text-gray-900 rounded dark:text-gray-300">스테이크(소)</label>
                            </div>
                        </li>
                        <li>
                            <div class="flex items-center ps-2 rounded hover:bg-gray-100 dark:hover:bg-gray-600">
                                <input checked id="checkbox-item-4-2" type="checkbox" value=""
                                       class="w-4 h-4 text-red-700 bg-gray-100 border-gray-300 rounded focus:ring-red-800 dark:focus:ring-red-800 dark:ring-offset-gray-700 dark:focus:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500">
                                <label for="checkbox-item-4-2"
                                       class="w-full py-2 ms-2 text-base font-medium text-gray-900 rounded dark:text-gray-300">삼겹살(돼지)</label>
                            </div>
                        </li>
                        <li>
                            <div class="flex items-center ps-2 rounded hover:bg-gray-100 dark:hover:bg-gray-600">
                                <input id="checkbox-item-4-3" type="checkbox" value=""
                                       class="w-4 h-4 text-red-700 bg-gray-100 border-gray-300 rounded focus:ring-red-800 dark:focus:ring-red-800 dark:ring-offset-gray-700 dark:focus:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500">
                                <label for="checkbox-item-4-3"
                                       class="w-full py-2 ms-2 text-base font-medium text-gray-900 rounded dark:text-gray-300">치킨(닭)</label>
                            </div>
                        </li>
                        <li>
                            <div class="flex items-center ps-2 rounded hover:bg-gray-100 dark:hover:bg-gray-600">
                                <input id="checkbox-item-4-4" type="checkbox" value=""
                                       class="w-4 h-4 text-red-700 bg-gray-100 border-gray-300 rounded focus:ring-red-800 dark:focus:ring-red-800 dark:ring-offset-gray-700 dark:focus:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500">
                                <label for="checkbox-item-4-4"
                                       class="w-full py-2 ms-2 text-base font-medium text-gray-900 rounded dark:text-gray-300">생선회</label>
                            </div>
                        </li>
                        <li>
                            <div class="flex items-center ps-2 rounded hover:bg-gray-100 dark:hover:bg-gray-600">
                                <input id="checkbox-item-4-5" type="checkbox" value=""
                                       class="w-4 h-4 text-red-700 bg-gray-100 border-gray-300 rounded focus:ring-red-800 dark:focus:ring-red-800 dark:ring-offset-gray-700 dark:focus:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500">
                                <label for="checkbox-item-4-5"
                                       class="w-full py-2 ms-2 text-base font-medium text-gray-900 rounded dark:text-gray-300">해산물</label>
                            </div>
                        </li>
                        <li>
                            <div class="flex items-center ps-2 rounded hover:bg-gray-100 dark:hover:bg-gray-600">
                                <input id="checkbox-item-4-6" type="checkbox" value=""
                                       class="w-4 h-4 text-red-700 bg-gray-100 border-gray-300 rounded focus:ring-red-800 dark:focus:ring-red-800 dark:ring-offset-gray-700 dark:focus:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500">
                                <label for="checkbox-item-4-6"
                                       class="w-full py-2 ms-2 text-base font-medium text-gray-900 rounded dark:text-gray-300">샐러드</label>
                            </div>
                        </li>
                        <li>
                            <div class="flex items-center ps-2 rounded hover:bg-gray-100 dark:hover:bg-gray-600">
                                <input id="checkbox-item-4-7" type="checkbox" value=""
                                       class="w-4 h-4 text-red-700 bg-gray-100 border-gray-300 rounded focus:ring-red-800 dark:focus:ring-red-800 dark:ring-offset-gray-700 dark:focus:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500">
                                <label for="checkbox-item-4-7"
                                       class="w-full py-2 ms-2 text-base font-medium text-gray-900 rounded dark:text-gray-300">과일</label>
                            </div>
                        </li>
                        <li>
                            <div class="flex items-center ps-2 rounded hover:bg-gray-100 dark:hover:bg-gray-600">
                                <input id="checkbox-item-4-8" type="checkbox" value=""
                                       class="w-4 h-4 text-red-700 bg-gray-100 border-gray-300 rounded focus:ring-red-800 dark:focus:ring-red-800 dark:ring-offset-gray-700 dark:focus:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500">
                                <label for="checkbox-item-4-8"
                                       class="w-full py-2 ms-2 text-base font-medium text-gray-900 rounded dark:text-gray-300">치즈</label>
                            </div>
                        </li>
                        <li>
                            <div class="flex items-center ps-2 rounded hover:bg-gray-100 dark:hover:bg-gray-600">
                                <input id="checkbox-item-4-9" type="checkbox" value=""
                                       class="w-4 h-4 text-red-700 bg-gray-100 border-gray-300 rounded focus:ring-red-800 dark:focus:ring-red-800 dark:ring-offset-gray-700 dark:focus:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500">
                                <label for="checkbox-item-4-9"
                                       class="w-full py-2 ms-2 text-base font-medium text-gray-900 rounded dark:text-gray-300">디저트</label>
                            </div>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
        <a th:href="@{/article/list}">
            <div class="flex justify-end mr-5">
                <button type="button" data-dial-toggle="speed-dial-menu-hover" data-dial-trigger="hover"
                        aria-controls="speed-dial-menu-hover" aria-expanded="false"
                        class="flex items-center justify-center bg-gray-100 rounded-full w-14 h-14 hover:bg-red-800 dark:bg-blue-600
            dark:hover:bg-blue-700 focus:ring-4 focus:ring-gray-200 focus:outline-none dark:focus:ring-blue-800 hover:text-white">
                    <svg class="w-11 h-11 transition-transform group-hover:rotate-45" aria-hidden="true"
                         xmlns="http://www.w3.org/2000/svg" height="16" width="10" viewBox="0 0 320 512">
                        <path d="M64 0C47.4 0 33.5 12.8 32.1 29.3l-14 168.4c-6 72 42.5 135.2 109.9 150.6V448H80c-17.7 0-32
             14.3-32 32s14.3 32 32 32h80 80c17.7 0 32-14.3 32-32s-14.3-32-32-32H192V348.4c67.4-15.4 115.9-78.6 109.9-150.6l-14-168.4C286.5
             12.8 272.6 0 256 0H64zM81.9 203.1L93.4 64H226.6l11.6 139.1C242 248.8 205.9 288 160 288s-82-39.2-78.1-84.9z"/>
                    </svg>
                    <span class="sr-only">Open actions menu</span>
                </button>
            </div>
        </a>
    </div>
    <div>
        <a th:href="@{/member/login}" sec:authorize="isAnonymous()" class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
            <svg xmlns="http://www.w3.org/2000/svg" height="16" width="16" viewBox="0 0 512 512">
                <path d="M256 288A144 144 0 1 0 256 0a144 144 0 1 0 0 288zm-94.7 32C72.2 320 0 392.2 0 481.3c0 17
                         13.8 30.7 30.7 30.7H481.3c17 0 30.7-13.8 30.7-30.7C512 392.2 439.8 320 350.7 320H161.3z"/>
            </svg>
            <span class="flex-1 ms-3 whitespace-nowrap">로그인</span>
        </a>
        <a th:href="@{/member/signup}" sec:authorize="isAnonymous()" class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
            <svg xmlns="http://www.w3.org/2000/svg" height="16" width="20" viewBox="0 0 640 512">
                <path d="M96 128a128 128 0 1 1 256 0A128 128 0 1 1 96 128zM0 482.3C0 383.8 79.8 304 178.3 304h91.4C368.2 304 448 383.8 448
                        482.3c0 16.4-13.3 29.7-29.7 29.7H29.7C13.3 512 0 498.7 0 482.3zM504 312V248H440c-13.3 0-24-10.7-24-24s10.7-24 24-24h64V136c0
                        -13.3 10.7-24 24-24s24 10.7 24 24v64h64c13.3 0 24 10.7 24 24s-10.7 24-24 24H552v64c0 13.3-10.7 24-24 24s-24-10.7-24-24z"/>
            </svg>
            <span class="flex-1 ms-3 whitespace-nowrap">회원가입</span>
        </a>
    </div>
    <div>
        <a th:href="@{/member/detail}" sec:authorize="isAuthenticated()" class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
            <svg xmlns="http://www.w3.org/2000/svg" height="16" width="16" viewBox="0 0 512 512">
                <path d="M256 288A144 144 0 1 0 256 0a144 144 0 1 0 0 288zm-94.7 32C72.2 320 0 392.2 0 481.3c0 17
                         13.8 30.7 30.7 30.7H481.3c17 0 30.7-13.8 30.7-30.7C512 392.2 439.8 320 350.7 320H161.3z"/>
            </svg>
            <span class="flex-1 ms-3 whitespace-nowrap">내정보</span>
        </a>
        <a th:href="@{/member/logout}" sec:authorize="isAuthenticated()" class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
            <svg xmlns="http://www.w3.org/2000/svg" height="16" width="20" viewBox="0 0 640 512">
                <path d="M96 128a128 128 0 1 1 256 0A128 128 0 1 1 96 128zM0 482.3C0 383.8 79.8 304 178.3 304h91.4C368.2 304 448 383.8 448
                        482.3c0 16.4-13.3 29.7-29.7 29.7H29.7C13.3 512 0 498.7 0 482.3zM504 312V248H440c-13.3 0-24-10.7-24-24s10.7-24 24-24h64V136c0
                        -13.3 10.7-24 24-24s24 10.7 24 24v64h64c13.3 0 24 10.7 24 24s-10.7 24-24 24H552v64c0 13.3-10.7 24-24 24s-24-10.7-24-24z"/>
            </svg>
            <span class="flex-1 ms-3 whitespace-nowrap">로그아웃</span>
        </a>
    </div>
</div>