<html layout:decorate="~{layout}" class="relative top-40">
<div layout:fragment="content" class="container mt-50 mx-auto">
    <div th:if="${errorMessage}" class="error-message text-center">
        <div  class="p-4 mb-4 text-2xl text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" th:text="${errorMessage}">
        </div>
    </div>
    <div th:if="${errorMessagePw}" class="error-message text-center">
        <div  class="p-4 mb-4 text-2xl text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" th:text="${errorMessagePw}">
        </div>
    </div>
    <div th:if="${errorNotMatchEmailConfirmNumber}" class="error-message text-center">
        <div  class="p-4 mb-4 text-2xl text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" th:text="${errorNotMatchEmailConfirmNumber}">
        </div>
    </div>
    <div class="text-center">
        <h4 class="m-5 text-4xl">회원가입</h4>
    </div>
    <form th:action="@{/member/signup}" th:object="${memberForm}" method="post" class="max-w-sm mx-auto">
        <div class="mb-5">
            <label for="id" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">아이디</label>
            <input type="text" id="id" th:field="*{username}"
                   class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-sm-light"
                   required>
        </div>
        <div class="mb-5">
            <label for="password1" class="block mb-2 text-sm font-medium text-gray-900">비밀번호</label>
            <input type="password" name="password1" id="password1" th:field="*{password1}"
                   class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full"
                   required>
        </div>
        <div class="mb-5">
            <label for="password2" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">비밀번호 확인
            </label>
            <input type="password" name="password2" id="password2" th:field="*{password2}"
                   class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-sm-light"
                   required>
        </div>
        <div class="mb-5">
            <label for="name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">이름
            </label>
            <input type="text" id="name" th:field="*{name}"
                   class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-sm-light"
                   required>
        </div>
        <div class="mb-5">
            <label for="phoneNumber" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">전화번호
            </label>
            <div class="relative">
                <div class="absolute inset-y-0 start-0 top-0 flex items-center ps-3.5 pointer-events-none">
                    <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true"
                         xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 19 18">
                        <path d="M18 13.446a3.02 3.02 0 0 0-.946-1.985l-1.4-1.4a3.054 3.054 0 0 0-4.218 0l-.7.7a.983.983 0 0 1-1.39 0l-2.1-2.1a.983.983 0 0 1 0-1.389l.7-.7a2.98 2.98 0 0 0 0-4.217l-1.4-1.4a2.824 2.824 0 0 0-4.218 0c-3.619 3.619-3 8.229 1.752 12.979C6.785 16.639 9.45 18 11.912 18a7.175 7.175 0 0 0 5.139-2.325A2.9 2.9 0 0 0 18 13.446Z"/>
                    </svg>
                </div>
                <input type="text" id="phonenumber" aria-describedby="helper-text-explanation" th:field="*{phoneNumber}"
                       class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                       pattern="[0-9]{3}-[0-9]{4}-[0-9]{4}" placeholder="010-xxxx-xxxx" required>
            </div>
        </div>
        <!--    이메일    -->
        <div class="mb-5 relative">
            <label for="email" class="block mb-2 text-sm font-medium text-gray-900">이메일
            </label>
            <input type="email" id="email" name="email" th:field="*{email}"
                   class="absolute shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" placeholder="example@mail.com"
                   required>
            <button type="button" id="sendBtn" name="sendBtn" onclick="sendNumber()" class="absolute top-8 right-1 text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none
                focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2">
                인증 요청
            </button>
            <div id="email_number" name="email_number" class="mt-8">
                <input type="text" name="number" id="number" placeholder="인증번호 입력" th:field="*{confirmEmail}"
                       class="absolute shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" required>
                <button type="button" name="confirmBtn" id="confirmBtn" onclick="confirmNumber()" class="relative left-full text-white top-0.5 bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none

                focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2">이메일 인증
                </button>
            </div>
        </div>
        <!--      성별 선택      -->
        <div class="relative">
            <label for="default-radio-4" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">성별
            </label>
            <div class="w-full bg-white divide-y divide-gray-100 rounded-lg border border-gray-300">
                <ul class="p-1 text-lg text-gray-700 flex justify-around">
                    <li>
                        <div class="flex items-center p-2 rounded hover:bg-gray-100">
                            <input id="default-radio-4" type="radio" value="true" name="default-radio"
                                   th:field="*{gender}"
                                   class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 focus:ring-2">
                            <label th:for="default-radio-4"
                                   class="w-full ms-2 text-sm font-medium text-gray-900 rounded dark:text-gray-300">남성</label>
                        </div>
                    </li>
                    <li>
                        <div class="flex items-center p-2 rounded hover:bg-gray-100">
                            <input checked id="default-radio-5" type="radio" value="false" name="default-radio"
                                   th:field="*{gender}"
                                   class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 focus:ring-2">
                            <label th:for="default-radio-5"
                                   class="w-full ms-2 text-sm font-medium text-gray-900 rounded dark:text-gray-300">여성</label>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <!--    달력 입력    -->
        <label class="block mb-2 mt-4 text-sm font-medium text-gray-900 dark:text-white">생년월일
        </label>
        <div class="relative max-w-sm">
            <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
                <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true"
                     xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                    <path d="M20 4a2 2 0 0 0-2-2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 1 0 0 0-2 0v1H2a2 2 0 0 0-2 2v2h20V4ZM0 18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8H0v10Zm5-8h10a1 1 0 0 1 0 2H5a1 1 0 0 1 0-2Z"/>
                </svg>
            </div>
            <input datepicker datepicker-autohide type="text" th:field="*{birthDate}"
                   class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                   placeholder="Select date">
        </div>
        <!--    달력 입력 끝    -->
        <div class="flex items-start mt-5">
            <div class="flex items-center h-5">
                <input id="terms" type="checkbox"
                       class="w-4 h-4 border border-gray-300 rounded bg-gray-50 focus:ring-3 focus:ring-blue-300 dark:bg-gray-700 dark:border-gray-600 dark:focus:ring-blue-600 dark:ring-offset-gray-800 dark:focus:ring-offset-gray-800"
                       required>
            </div>
            <label for="terms" class="ms-2 text-sm font-medium text-gray-900">동의하기&nbsp<a
                    href="#" class="text-blue-600 hover:underline">이용약관</a></label>
        </div>
        <div class="flex items-start my-3">
            <div class="flex items-center h-5">
                <input id="terms2" type="checkbox" value=""
                       class="w-4 h-4 border border-gray-300 rounded bg-gray-50 focus:ring-3 focus:ring-blue-300 dark:bg-gray-700 dark:border-gray-600 dark:focus:ring-blue-600 dark:ring-offset-gray-800 dark:focus:ring-offset-gray-800"
                       required>
            </div>
            <label for="terms" class="ms-2 text-sm font-medium text-gray-900">만 19세 이상입니다.</label>
        </div>
        <div class="flex items-start my-3">
            <div class="flex items-center h-5">
                <input id="terms3" type="checkbox" value=""
                       class="w-4 h-4 border border-gray-300 rounded bg-gray-50 focus:ring-3 focus:ring-blue-300 dark:bg-gray-700 dark:border-gray-600 dark:focus:ring-blue-600 dark:ring-offset-gray-800 dark:focus:ring-offset-gray-800"
                       >
            </div>
            <label for="terms" class="ms-2 text-sm font-medium text-gray-900">(선택) 프로모션 혜택을 받겠습니다.</label>
        </div>
        <!--    체크박스 끝    -->
        <div class="flex justify-end">
            <button th:href="@{/member/signup}" type="submit"
                    class="text-white bg-indigo-800 w-28 mb-4 hover:bg-indigo-900 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center">
                가입하기
            </button>
        </div>
    </form>
</div>
</html>
<!--email 인증-->
<script type="text/javascript">
    function sendNumber() {
        var token = $("meta[name='_csrf']").attr("content");
        var header = $("meta[name='_csrf_header']").attr("content");

        // 서버로 전송할 데이터 설정
        var data = { "email": $("#email").val() };

        $("#email_number").css("display", "block");
        $.ajax({
            type: 'POST',
            url: "/email",
            beforeSend: function (xhr) {
                xhr.setRequestHeader(header, token);
            },
            data: data, // JSON.stringify(data) 대신 일반 객체로 전송
            success: function (data) {
                alert("인증번호 발송");
                $("#number").attr("data-confirm", data);
            },
            error: function (xhr, status, error) {
                console.log('error:' + error);
            }
        });
    }
    function confirmNumber() {
        var number1 = $("#number").val();
        var number2 = $("#number").data("confirm");

        if (number1 == number2) {
            alert("인증되었습니다.");
        } else {
            alert("번호가 다릅니다.");
        }
    }
</script>
<!--email 인증 끝-->