<html layout:decorate="~{layout}" class="relative top-40">
<div layout:fragment="content" class="container mt-50 mx-auto">
    <div class="text-center">
        <h4 class="m-5 text-4xl">회원가입</h4>
    </div>
    <form class="max-w-sm mx-auto">
        <div class="mb-5">
            <label for="id" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">아이디</label>
            <input type="id" id="id"
                   class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-sm-light"
                   required>
        </div>
        <div class="mb-5">
            <label for="password" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">비밀번호</label>
            <input type="password" id="password"
                   class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-sm-light"
                   required>
        </div>
        <div class="mb-5">
            <label for="repeat-password" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">비밀번호 확인
            </label>
            <input type="password" id="repeat-password"
                   class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-sm-light"
                   required>
        </div>
        <div class="mb-5">
            <label for="name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">이름
            </label>
            <input type="name" id="name"
                   class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-sm-light"
                   required>
        </div>
        <div class="mb-5">
            <label for="phonenumber" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">전화번호
            </label>
            <input type="phonenumber" id="phonenumber"
                   class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-sm-light"
                   required>
        </div>
        <div class="relative mb-5">
            <label for="email" class="block mb-2 text-sm font-medium text-gray-900">이메일
            </label>
            <input type="email" id="email"
                   class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
                   required>
            <button type="submit" class="text-white absolute end-1.5 bottom-0.5 bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none
                focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                인증 요청
            </button>
        </div>
        <!--      성별 선택      -->
        <div class="relative">
            <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">성별
            </label>
            <div class="w-full bg-white divide-y divide-gray-100 rounded-lg border border-gray-300">
                <ul class="p-1 text-lg text-gray-700 flex justify-around">
                    <li>
                        <div class="flex items-center p-2 rounded hover:bg-gray-100">
                            <input id="default-radio-4" type="radio" value="" name="default-radio"
                                   class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 focus:ring-2">
                            <label for="default-radio-4"
                                   class="w-full ms-2 text-sm font-medium text-gray-900 rounded dark:text-gray-300">남성</label>
                        </div>
                    </li>
                    <li>
                        <div class="flex items-center p-2 rounded hover:bg-gray-100">
                            <input checked id="default-radio-5" type="radio" value="" name="default-radio"
                                   class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 focus:ring-2">
                            <label for="default-radio-5"
                                   class="w-full ms-2 text-sm font-medium text-gray-900 rounded dark:text-gray-300">여성</label>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <!--    달력 입력    -->
        <label class="block mb-2 mt-4 text-sm font-medium text-gray-900 dark:text-white">생년월일
        </label>
        <div class="relative max-w-sm">
            <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
                <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true"
                     xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                    <path d="M20 4a2 2 0 0 0-2-2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 1 0 0 0-2 0v1H2a2 2 0 0 0-2 2v2h20V4ZM0 18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8H0v10Zm5-8h10a1 1 0 0 1 0 2H5a1 1 0 0 1 0-2Z"/>
                </svg>
            </div>
            <input datepicker datepicker-autohide type="text"
                   class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                   placeholder="Select date">
        </div>
        <!--    달력 입력 끝    -->
<!--    체크박스    -->
        <div class="flex items-start my-3">
            <div class="flex items-center h-5">
                <input id="terms" type="checkbox" value=""
                       class="w-4 h-4 border border-gray-300 rounded bg-gray-50 focus:ring-3 focus:ring-blue-300 dark:bg-gray-700 dark:border-gray-600 dark:focus:ring-blue-600 dark:ring-offset-gray-800 dark:focus:ring-offset-gray-800"
                       required>
            </div>
            <label for="terms" class="ms-2 text-sm font-medium text-gray-900">동의하기&nbsp<a
                    href="#" class="text-blue-600 hover:underline">이용약관</a></label>
        </div>
        <div class="flex items-start my-3">
            <div class="flex items-center h-5">
                <input id="terms" type="checkbox" value=""
                       class="w-4 h-4 border border-gray-300 rounded bg-gray-50 focus:ring-3 focus:ring-blue-300 dark:bg-gray-700 dark:border-gray-600 dark:focus:ring-blue-600 dark:ring-offset-gray-800 dark:focus:ring-offset-gray-800"
                       required>
            </div>
            <label for="terms" class="ms-2 text-sm font-medium text-gray-900">만 19세 이상입니다.</label>
        </div>
        <div class="flex items-start my-3">
            <div class="flex items-center h-5">
                <input id="terms" type="checkbox" value=""
                       class="w-4 h-4 border border-gray-300 rounded bg-gray-50 focus:ring-3 focus:ring-blue-300 dark:bg-gray-700 dark:border-gray-600 dark:focus:ring-blue-600 dark:ring-offset-gray-800 dark:focus:ring-offset-gray-800"
                       required>
            </div>
            <label for="terms" class="ms-2 text-sm font-medium text-gray-900">(선택) 프로모션 혜택을 받겠습니다.</label>
        </div>
<!--    체크박스 끝    -->
        <button type="submit"
                class="text-white bg-blue-700 mb-4 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center">
            회원가입
        </button>
    </form>
</div>
</html>