<div th:fragment="tasteFragment(tasteId, fieldName)">
    <div class="mx-5 flex flex-row-reverse justify-end text-4xl">
        <label th:for="${'score-' + tasteId}"></label>
        <input type="radio" class="peer hidden" th:id="${'value5-' + tasteId}" th:value="5"
               th:name="${fieldName}" th:checked="${tasteForm != null && tasteForm[fieldName] == 5}"/>
        <label th:for="${'value5-' + tasteId}"
               class="cursor-pointer text-gray-400 peer-hover:text-pink-600 peer-checked:text-pink-600">●</label>

        <input type="radio" class="peer hidden" th:id="${'value4-' + tasteId}" th:value="4"
               th:name="${fieldName}" th:checked="${tasteForm != null && tasteForm[fieldName] == 4}"/>
        <label th:for="${'value4-' + tasteId}"
               class="cursor-pointer text-gray-400 peer-hover:text-pink-500 peer-checked:text-pink-500">●</label>

        <input type="radio" class="peer hidden" th:id="${'value3-' + tasteId}" th:value="3"
               th:name="${fieldName}" th:checked="${tasteForm != null && tasteForm[fieldName] == 3}"/>
        <label th:for="${'value3-' + tasteId}"
               class="cursor-pointer text-gray-400 peer-hover:text-pink-400 peer-checked:text-pink-400">●</label>

        <input type="radio" class="peer hidden" th:id="${'value2-' + tasteId}" th:value="2"
               th:name="${fieldName}" th:checked="${tasteForm != null && tasteForm[fieldName] == 2}"/>
        <label th:for="${'value2-' + tasteId}"
               class="cursor-pointer text-gray-400 peer-hover:text-pink-300 peer-checked:text-pink-300">●</label>

        <input type="radio" class="peer hidden" th:id="${'value1-' + tasteId}" th:value="1"
               th:name="${fieldName}" th:checked="${tasteForm != null && tasteForm[fieldName] == 1}"/>
        <label th:for="${'value1-' + tasteId}"
               class="cursor-pointer peer text-gray-400 peer-hover:text-pink-200 peer-checked:text-pink-200">●</label>
    </div>
</div>