<div th:fragment="tasteFragment" class="mx-5 flex flex-row-reverse justify-end text-4xl">
    <label for="score"></label>
    <input type="radio" class="peer hidden" id="value5" value="5" name="score" />
    <label for="value5"
           class="cursor-pointer text-gray-400 peer-hover:text-pink-600 peer-checked:text-pink-600">●</label>
    <input type="radio" class="peer hidden" id="value4" value="4" name="score" />
    <label for="value4"
           class="cursor-pointer text-gray-400 peer-hover:text-pink-500 peer-checked:text-pink-500">●</label>
    <input type="radio" class="peer hidden" id="value3" value="3" name="score" />
    <label for="value3"
           class="cursor-pointer text-gray-400 peer-hover:text-pink-400 peer-checked:text-pink-400">●</label>
    <input type="radio" class="peer hidden" id="value2" value="2" name="score" />
    <label for="value2"
           class="cursor-pointer text-gray-400 peer-hover:text-pink-300 peer-checked:text-pink-300">●</label>
    <input type="radio" class="peer hidden" id="value1" value="1" name="score" />
    <label for="value1"
           class="cursor-pointer peer text-gray-400 peer-hover:text-pink-200 peer-checked:text-pink-200">●</label>
</div>