<html layout:decorate="~{layout}" class="relative top-40">
<div layout:fragment="content" class="container w-100 my-3 mx-auto">
    <!--  검색 기능  -->
    <form class="relative">
        <div class="flex justify-center">
            <label for="search-dropdown" class="mb-2 text-base font-medium text-gray-900 sr-only dark:text-white">Your
                Email</label>
            <button id="dropdown-button" data-dropdown-toggle="dropdown"
                    class="flex-shrink-0 z-10 inline-flex items-center py-2.5 px-4 text-base font-medium text-center text-gray-900 bg-gray-100 border border-gray-300 rounded-s-lg hover:bg-gray-200 focus:ring-4 focus:outline-none focus:ring-gray-100 dark:bg-gray-700 dark:hover:bg-gray-600 dark:focus:ring-gray-700 dark:text-white dark:border-gray-600"
                    type="button"> 검색 항목
                <svg class="w-2.5 h-2.5 ms-2.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                     viewBox="0 0 10 6">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                          d="m1 1 4 4 4-4"/>
                </svg>
            </button>
            <div id="dropdown"
                 class="top-1/2 hidden z-10 bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700">
                <ul class="py-4 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdown-button">
                    <li>
                        <button type="button"
                                class="inline-flex w-full px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">
                            제목
                        </button>
                    </li>
                    <li>
                        <button type="button"
                                class="inline-flex w-full px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">
                            내용
                        </button>
                    </li>
                    <li>
                        <button type="button"
                                class="inline-flex w-full px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">
                            제목 + 내용
                        </button>
                    </li>
                </ul>
            </div>
            <div class="relative w-1/2">
                <input type="search" id="search-dropdown"
                       class="block p-2.5 w-full z-20 text-base text-gray-900 bg-gray-50 rounded-e-lg border-s-gray-50 border-s-2 border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-s-gray-700  dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:border-blue-500"
                       placeholder="원하는 와인을 검색해보세요!" required>
                <button type="submit"
                        class="absolute top-0 end-0 p-2.5 text-sm font-medium h-full text-white bg-red-700 rounded-e-lg border-red-700 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-800">
                    <svg class="w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                         viewBox="0 0 20 20">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                              d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
                    </svg>
                    <span class="sr-only">Search</span>
                </button>
            </div>
        </div>
    </form>
    <div class="mt-16 mb-4 border-b border-gray-200 dark:border-gray-700 flex justify-center my-8">
        <ul class="flex flex-wrap -mb-px text-2xl font-medium text-center" id="default-tab"
            data-tabs-toggle="#default-tab-content" role="tablist">
            <li class="me-2" role="presentation">
                <a class="inline-block text-gray-900 border-black hover:text-gray-800 p-4 border-b-2 rounded-t-lg font-bold"
                   id="my-detail"
                   data-tabs-target="#detail"
                   role="tab" aria-controls="detail" aria-selected="false">전체 와인
                </a>
            </li>
        </ul>
    </div>
    <div class="flex justify-end">
        <a th:href="@{/article/create}" type="button"
           class="text-white bg-gray-800 hover:bg-gray-900 focus:outline-none focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-gray-800 dark:hover:bg-gray-700 dark:focus:ring-gray-700 dark:border-gray-700">게시글
            등록</a>
    </div>
    <!--  검색 기능 끝  -->
    <div class="flex justify-center">
        <div class="w-3/4">
            <div class="mt-8 border-4 p-4">
                <div role="status"
                     class="space-y-8 md:space-y-0 md:space-x-8 rtl:space-x-reverse md:flex md:items-center">
                    <div class="flex items-center justify-center w-full h-48 rounded sm:w-96">
                        <img class=" h-48 max-w-lg rounded-lg" src="../images/꼬뜨 드 뵈프.png" alt="image description">
                    </div>
                    <div class="w-full">
                        <a th:href="@{/article/detail}"
                           class="block w-auto">
                            <h1 class="text-3xl mt-8 font-extrabold dark:text-dark">GCF, 꼬뜨 드 뵈프</h1>
                            <h3 class="text-2xl font-weight my-1 tracking-tight dark:text-gray-500">GCF, Cotes de
                                Boeuf</h3>
                        </a>
                        <a th:href="@{/article/detail}" class="w-1/2 my-2 py-2 pb-24">내용</a>
                        <div class="flex py-4">
                            <span class="text-white bg-gradient-to-r from-red-400 via-red-400 to-red-600 font-medium rounded-lg text-sm px-5 py-1.5 text-center">레드</span>
                            <div class="mx-5 flex flex-row-reverse justify-end text-2xl">
                                <label for="score"></label>
                                <input type="radio" class="peer hidden" id="value5" value="5" name="score"/>
                                <label for="value5"
                                       class="cursor-pointer text-gray-400 peer-hover:text-yellow-400 peer-checked:text-yellow-600">★</label>
                                <input type="radio" class="peer hidden" id="value4" value="4" name="score"/>
                                <label for="value4"
                                       class="cursor-pointer text-gray-400 peer-hover:text-yellow-400 peer-checked:text-yellow-600">★</label>
                                <input type="radio" class="peer hidden" id="value3" value="3" name="score"/>
                                <label for="value3"
                                       class="cursor-pointer text-gray-400 peer-hover:text-yellow-400 peer-checked:text-yellow-600">★</label>
                                <input type="radio" class="peer hidden" id="value2" value="2" name="score"/>
                                <label for="value2"
                                       class="cursor-pointer text-gray-400 peer-hover:text-yellow-400 peer-checked:text-yellow-600">★</label>
                                <input type="radio" class="peer hidden" id="value1" value="1" name="score"/>
                                <label for="value1"
                                       class="cursor-pointer peer text-gray-400 peer-hover:text-yellow-400 peer-checked:text-yellow-600">★</label>
                            </div>
                        </div>
                        <div class="text-end">
                            <button type="button"
                                    class="text-white bg-red-800 hover:bg-red-900 focus:outline-none focus:ring-4 focus:ring-gray-300 rounded-lg text-2xl px-4 my-4 py-2.5 me-2 mb-2 dark:bg-gray-800 dark:hover:bg-gray-700 dark:focus:ring-gray-700 dark:border-gray-700">
                                ♡
                            </button>
                        </div>
                    </div>
                    <span class="sr-only">Loading...</span>
                </div>
            </div>
        </div>
    </div>
    <!--  페이징  -->
    <nav aria-label="Page navigation example">
        <ul class="flex -space-x-px text-base h-10 justify-center my-12">
            <li>
                <a href="#"
                   class="flex items-center justify-center px-4 h-10 ms-0 leading-tight text-gray-500 bg-white border border-e-0 border-gray-300 rounded-s-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">이전</a>
            </li>
            <li>
                <a href="#"
                   class="flex items-center justify-center px-4 h-10 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">1</a>
            </li>
            <li>
                <a href="#"
                   class="flex items-center justify-center px-4 h-10 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">2</a>
            </li>
            <li>
                <a href="#" aria-current="page"
                   class="flex items-center justify-center px-4 h-10 text-blue-600 border border-gray-300 bg-blue-50 hover:bg-blue-100 hover:text-blue-700 dark:border-gray-700 dark:bg-gray-700 dark:text-white">3</a>
            </li>
            <li>
                <a href="#"
                   class="flex items-center justify-center px-4 h-10 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">4</a>
            </li>
            <li>
                <a href="#"
                   class="flex items-center justify-center px-4 h-10 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">5</a>
            </li>
            <li>
                <a href="#"
                   class="flex items-center justify-center px-4 h-10 leading-tight text-gray-500 bg-white border border-gray-300 rounded-e-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">다음</a>
            </li>
        </ul>
    </nav>
</div>
</html>