<html layout:decorate="~{layout}" class="relative top-40">
<div layout:fragment="content" class="container w-100 my-3 mx-auto">
    <div class="flex">
        <img class="h-auto max-w-lg rounded-lg" th:src="${wine.image}" alt="image description">
        <div class="inline-block ml-12 mt-3">
            <span class="text-white bg-gradient-to-r from-red-400 via-red-500 to-red-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-red-300 dark:focus:ring-red-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2" th:if="${wine.list} == '레드'" th:text="${wine.list}"></span>
            <span class="text-white bg-gradient-to-r from-cyan-400 via-cyan-500 to-cyan-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-cyan-300 dark:focus:ring-cyan-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2" th:if="${wine.list} == '화이트'" th:text="${wine.list}"></span>
            <span class="text-gray-900 bg-gradient-to-r from-lime-200 via-lime-400 to-lime-500 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-lime-300 dark:focus:ring-lime-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2" th:if="${wine.list} == '스파클링'" th:text="${wine.list}"></span>
            <span class="text-white bg-gradient-to-r from-pink-400 via-pink-500 to-pink-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-pink-300 dark:focus:ring-pink-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2" th:if="${wine.list} == '로제'" th:text="${wine.list}"></span>
            <span class="text-white bg-gradient-to-r from-blue-500 via-blue-600 to-blue-700 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2" th:if="${wine.list} == '주정강화'" th:text="${wine.list}"></span>
            <span class="ml-2" th:text="${wine.country}"></span>
            <div class="inline-block ml-12">
                <a th:href="@{|/article/modify/${wine.id}|}" type="button" sec:authorize="hasAuthority('admin')"
                   onclick="return confirm(`정말로 수정 하시겠습니까?`)"
                   class="text-white bg-gray-800 hover:bg-gray-900 focus:outline-none focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-sm px-4 py-2 me-2 mb-2">수정</a>
                <a th:href="@{|/article/delete/${wine.id}|}" type="button" sec:authorize="hasAuthority('admin')"
                   onclick="return confirm(`정말로 삭제 하시겠습니까?`)"
                   class="text-white bg-gray-800 hover:bg-gray-900 focus:outline-none focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-sm px-4 py-2 me-2 mb-2">삭제</a>
            </div>

            <h1 class="text-5xl mt-8 font-extrabold dark:text-dark" th:text="${wine.wineName}"></h1>
            <h3 class="text-3xl font-weight my-1 tracking-tight dark:text-gray-500" th:text="${wine.wineNameE}"></h3>
            <br>
            <h3 class="text-3xl font-weight tracking-tight dark:text-gray-500" th:text="${wine.price} + '원'"></h3>
            <h5 class="text-1xl font-weight my-2 tracking-tight dark:text-gray-400">※ 수입사가 제공한 가격으로 판매처별로 가격이 다를 수
                있습니다.</h5>
            <div class="flex mt-20 items-center">
                <span class="flex">당도</span>
                <div th:replace="~{taste :: tasteFragment(taste = ${taste.sweet})}"></div>
                <span class="flex items-center">산도</span>
                <div th:replace="~{taste :: tasteFragment(taste = ${taste.acidity})}"></div>
                <span class="flex items-center">바디</span>
                <div th:replace="~{taste :: tasteFragment(taste = ${taste.body})}"></div>
                <span class="flex items-center">타닌</span>
                <div th:replace="~{taste :: tasteFragment(taste = ${taste.tannin})}"></div>
            </div>
            <div class="flex mt-20 ">
                <ul class="text-2xl mr-14 font-black">
                    <li>
                        <th class="text-start font-black">국가</th>
                    </li>
                    <li>
                        <th class="text-start font-black">품종</th>
                    </li>
                    <li>
                        <th class="text-start font-black">추천 음식</th>
                    </li>
                </ul>
                <ul class="text-2xl">
                    <li>
                        <td class="dark:text-gray-500" th:text="${wine.country}"></td>
                    </li>
                    <li>
                        <td class="dark:text-gray-500" th:text="${wine.kind}"></td>
                    </li>
                    <li>
                        <td class="dark:text-gray-500" th:text="${wine.food}"></td>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="mb-4 border-b border-gray-200 dark:border-gray-700 flex justify-center my-8">
        <ul class="flex flex-wrap -mb-px text-base font-medium text-center" id="default-tab"
            data-tabs-toggle="#default-tab-content" role="tablist">
            <li class="me-2" role="presentation">
                <a class="inline-block p-4 border-b-2 rounded-t-lg text-xl font-bold" id="my-detail"
                   data-tabs-target="#detail"
                   role="tab" aria-controls="detail" aria-selected="false">REVIEW
                </a>
            </li>
        </ul>
    </div>
    <!--  리뷰 목록  -->
    <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
        <thead class="text-base text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
        <tr>
            <th scope="col" class="px-6 py-3">
                번호
            </th>
            <th scope="col" class="px-6 py-3">
                제목
            </th>
            <th scope="col" class="px-6 py-3">
                글쓴이
            </th>
            <th scope="col" class="px-6 py-3">
                작성일자
            </th>
        </tr>
        <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
            <td class="px-6 py-4">
                1
            </td>
            <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                Apple MacBook Pro 17"
            </th>
            <td class="px-6 py-4">
                Silver
            </td>
            <td class="px-6 py-4">
                Laptop
            </td>
        </tr>
        <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
            <td class="px-6 py-4">
                2
            </td>
            <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                Microsoft Surface Pro
            </th>
            <td class="px-6 py-4">
                White
            </td>
            <td class="px-6 py-4">
                Laptop PC
            </td>
        </tr>
        <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
            <td class="px-6 py-4">
                3
            </td>
            <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                Magic Mouse 2
            </th>
            <td class="px-6 py-4">
                Black
            </td>
            <td class="px-6 py-4">
                Accessories
            </td>
        </tr>
        <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
            <td class="px-6 py-4">
                4
            </td>
            <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                Apple Watch
            </th>
            <td class="px-6 py-4">
                Silver
            </td>
            <td class="px-6 py-4">
                Accessories
            </td>
        </tr>
        <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
            <td class="px-6 py-4">
                5
            </td>
            <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                iPad
            </th>
            <td class="px-6 py-4">
                Gold
            </td>
            <td class="px-6 py-4">
                Tablet
            </td>
        </tr>
        <tr class="bg-white dark:bg-gray-800 hover:bg-gray-50 dark:hover:bg-gray-600">
            <td class="px-6 py-4">
                6
            </td>
            <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                Apple iMac 27"
            </th>
            <td class="px-6 py-4">
                Silver
            </td>
            <td class="px-6 py-4">
                PC Desktop
            </td>
        </tr>
        </thead>
    </table>
    <!--  리뷰 목록 끝  -->
    <div class="mb-2 mt-8 border-b border-gray-200 dark:border-gray-700 flex justify-center">
        <ul class="flex flex-wrap -mb-px text-base font-medium text-center" id="default-tab"
            data-tabs-toggle="#default-tab-content" role="tablist">
            <li class="me-2" role="presentation">
                <a class="inline-block p-4 border-b-2 rounded-t-lg text-xl font-bold" id="my-detail"
                   data-tabs-target="#detail"
                   role="tab" aria-controls="detail" aria-selected="false">WRITING A REVIEW
                </a>
            </li>
        </ul>
    </div>
    <!--  리뷰등록  -->
    <form>
        <div class="w-full mb-4 border border-gray-200 rounded-lg bg-gray-50 dark:bg-gray-700 dark:border-gray-600">
            <div class="px-4 py-2 bg-white rounded-t-lg dark:bg-gray-800">
                <label for="comment" class="sr-only">Your comment</label>
                <textarea id="comment" rows="4"
                          class="w-full px-0 text-sm text-gray-900 bg-white border-0 dark:bg-gray-800 focus:ring-0 dark:text-white dark:placeholder-gray-400"
                          placeholder="Write a review..." required></textarea>
            </div>
            <div class="flex items-center justify-end px-3 py-2 border-t dark:border-gray-600">
                <button type="submit"
                        class="inline-flex items-center py-2.5 px-4 text-base font-medium text-center text-white bg-blue-700 rounded-lg focus:ring-4 focus:ring-blue-200 dark:focus:ring-blue-900 hover:bg-blue-800">
                    리뷰 등록
                </button>
            </div>
        </div>
    </form>
</div>
<!--  리뷰 등록 끝  -->
</div>
</html>